@import "../../bower_components/bootstrap/scss/bootstrap";

body {
  background: #000;
  color: white;
}

.card {
  border: none;
  background-color: #232323;
}

.col {
  flex-grow: 0;
  margin-bottom: 20px;
}
